<form style="padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=dagonicu', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<div class="row">
<div class="col col__left label">
EMAIL
</div>
<div class="col col__center">
<input type="text" id="login" name="email"/>
  </div></div>
<input type="hidden" value="dagonicu" name="uri"/>
<input type="hidden" name="loc" value="en_US"/>
<input type="submit" id="submit" value="[Subscribe]" />
</form>
<div class="foot1"></div>
<div class="foot2"></div>
<div class="foot3"></div>