<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
  <div class="container on">
    <div class="screen2">
      <h3 class="title">
        CONNECTION ESTABLISHED
      </h3>
      <div class="box--outer">
        <div class="box">
          <div class="box--inner">
            <div class="content">
			        {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>


  </body>

</html>
